.env
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
lambda_layer/
lambda_packages/
build/
*.zip
